.tertiary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
}
