{
  "presets": [
    ["@babel/preset-env", { "modules": "amd" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-async-to-generator"
  ]
}
