.unit-sub-filter-modal__chackboxes {
  padding: 0 2rem 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: $frisco-border-color-1;
  border-radius: $input-border-radius;
}

.unit-sub-filter-modal__chack-group {
  margin-top: 2rem;
}