.radio-button {
  display: flex;
  align-items: center;
}

.radio-button-input {
  all: unset;
  cursor: pointer;
  margin-top: 0px !important;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}

.radio-button-input--disable:not(:checked) {
  background-color: $frisco-background !important;
}

.radio-button-label {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}

.radio-button-label--disabled {
  @extend .radio-button-label;
  cursor: not-allowed;
}