@import 'themes/fpdi-theme';
@import 'themes/frisco-theme';
@import 'themes/for-theme';

$background-color: #fff;
$border-color: #e5e5e5;
$scrollbar-color: #e5e5e5;

$placeholder-color: #dbdbdb;

$secondary-text: #fff;

$button-disabled: #666062;

$app-main-content-bottom-margin: 4.5rem;
$input-border-radius: 7px;
$error-control-border-radius: 7px;

$error-color: #ff0000;

$shadowed: rgba($color: #000000, $alpha: 0.35);

$top-bar-height: 100px;

.background-color-bg {
  background-color: $background-color;
}

.secondary-text-color {
  color: $secondary-text;
}

.placeholder-color {
  color: $placeholder-color;
}

.error-color {
  color: $error-color;
}

.button-disable-bg {
  background-color: $button-disabled;
}

.hover-active-main-menu {
  &:hover,
  &:active,
  &:focus {
    background-color: $shadowed !important;
    transition: 0.4s;
    color: $secondary-text;
  }
}

.shadowed-bg {
  background-color: $shadowed;
}
